---
Language: Cpp
BasedOnStyle: Google

AlignArrayOfStructures: Right

BinPackArguments: false
BinPackParameters: false

Cpp11BracedListStyle: true

ColumnLimit: 120

IndentWidth: 4
TabWidth: 4
UseTab: Never

PointerAlignment: Left

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false

BreakBeforeBraces: Attach

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
