[Unit]
Description=TurboGator ASL Benchmarking API
After=network.target

[Service]
User=root
WorkingDirectory=/opt/aos/api
Environment="PATH=/root/.local/bin:/opt/aos/api/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/opt/aos/api/.venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
